@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
*{
  font-family:'Barlow Semi Condensed',monospace, sans-serif; 

}
:root{
  --card-border-radius:1rem;
  --card-padding: 1rem;
  --card-height:fit-content;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* the grid layout should contain 2 rows and 4 columns on big screen and 1 column on small size 
  the first one on mobile and second one on media queries*/
.card{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  margin: 0.5rem;
}
 .profile{
    display: flex;
    gap: 1rem;
  }
 
  img{
    border-radius: 50%;
    max-width: 100%;
  }
  
  p{
    font-size: 1rem;
    font-weight: 600;
    line-height:1.2rem; 
    margin: 0.3rem;
    opacity: 70%;
  }
  .name{
   font-weight: 500;
  }
 
 
  .education{
   font-weight: 400;
  opacity: 50%;
  }
  .card-1{
    height: var(--card-height);
    background-color: hsl(263, 55%, 52%) ;
    color: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
  }
  .card-2{
    height: var(--card-height);
    background-color: hsl(217, 19%, 35%);
    color: white;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
  }
  .card-5{
    height: var(--card-height);
    background-color: hsl(219, 29%, 14%);
    color: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
  }
  .card-3,.card-4{
    height: var(--card-height);
     background-color:hsl(210, 46%, 95%) ; 
     color:hsl(219, 29%, 14%);
     border-radius: var(--card-border-radius);
     padding: var(--card-padding);
  }
  .card-3 > h5,.card-4 >h5 {
    color:hsl(219, 29%, 14%);
  }
  /* style for big screen */
  @media (min-width:700px){
     .card{
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      'one one two three'
      'four five five three';
     }

     .card:hover{
      background-color: rgb(0, 0, 0);
     }
     .card-1{
       grid-area: one;
     }
     .card-1:hover{
      background-color: rgb(63, 8, 73);
     
     }
     .card-2{
      grid-area: two;
     }
     .card-2:hover{
      background-color: green;
     
     }
     .card-3{
      grid-area: three;
     }
     .card-3:hover{
      background-color:rgb(217, 244, 19);
    
      
     }
     .card-4{
      grid-area: four;
     }
     .card-4:hover{
      background-color: rgb(151, 235, 98);
      border: 1px dashed black;
     }

     .card-5{
      grid-area: five;
     }
     .card-5:hover{
      background-color: rgb(20, 1, 82);
     }

     h3{
       font-size: 0.8rem; 
      font-weight: 500;
     }

     p{
      font-size: 0.7rem;
      font-weight: 400;
      line-height:1rem; 
      margin: 0.3em;
     }

     .name,.education{
      font-size: 0.5rem;
     }
    
  }